Repository rafaelaqueirozg/checkout: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

chore(jest): :heavy_plus_sign: adiciona Jest e TestingLibrary
  .eslintignore
  jest.config.ts
  package-lock.json
  package.json
Due: prettier --write, eslint

chore(husky): :wrench: adiciona etapa de testes no pre-commit
  .husky/pre-commit
Due: none

chore: :wrench: configura paths relativos
  .eslintignore
  tsconfig.json
  vite.config.ts
Due: prettier --write, eslint

feat(Http): :sparkles: adiciona HttpService
  package-lock.json
  package.json
  src/services/HttpService.ts
Due: prettier --write, eslint

feat(Checkout): :sparkles: adiciona checkout service e interfaces
  src/interfaces/Offer.interface.ts
  src/interfaces/Subscription.interface.ts
  src/services/Checkout/CheckoutService.ts
Due: prettier --write, eslint

style(variables): :lipstick: adiciona variáveis de cor e radius
  src/styles/colors.scss
  src/styles/variables.scss
Due: prettier --write

chore(prettier): :wrench: ajuste de configuração no prettier do tamanho da linha
  .prettierrc.json
Due: none

feat(SEO): :mag: adiciona meta tags para melhora de SEO
  index.html
Due: prettier --write, eslint

chore: 🔧 ajustes na configuração do Jest
  .eslintignore
  .gitignore
  babel.config.js
  jest.config.ts
  jest.setup.ts
  package-lock.json
  package.json
  svgTransform.cjs
Due: prettier --write, eslint

feat: :sparkles: adiciona componente Header
  src/assets/svg/caret-left.svg
  src/assets/svg/logo.svg
  src/components/Header/Header.module.scss
  src/components/Header/Header.spec.tsx
  src/components/Header/Header.tsx
Due: prettier --write, eslint

feat: :sparkles: adiciona rota e estrutura principal da aplicação
  src/App.module.scss
  src/App.scss
  src/App.spec.tsx
  src/App.tsx
  src/Routes.tsx
  src/index.scss
  src/main.tsx
Due: prettier --write, eslint

chore: :heavy_plus_sign: adiciona lib react-hook-form
  package-lock.json
  package.json
Due: none

style: :lipstick: atualiza estilos globais
  src/index.scss
  src/styles/variables.scss
Due: prettier --write

chore(Eslint): :wrench: adiciona nova regra
  .eslintrc.json
Due: none

feat: :construction: adiciona estrutura principal de PaymentForm
  src/components/PaymentForm/PaymentForm.module.scss
  src/components/PaymentForm/PaymentForm.spec.tsx
  src/components/PaymentForm/PaymentForm.tsx
Due: prettier --write, eslint

feat(Payment): :sparkles: adiciona componente Payment
  src/assets/svg/americanexpress.svg
  src/assets/svg/dinnersclub.svg
  src/assets/svg/elo.svg
  src/assets/svg/iugu.svg
  src/assets/svg/mastercard.svg
  src/assets/svg/visa.svg
  src/components/Payment/Payment.module.scss
  src/components/Payment/Payment.spec.tsx
  src/components/Payment/Payment.tsx
Due: prettier --write, eslint

feat(Checkout): :sparkles: adiciona página de Checkout
  src/Routes.tsx
  src/pages/Checkout/Checkout.module.scss
  src/pages/Checkout/Checkout.spec.tsx
  src/pages/Checkout/Checkout.tsx
Due: prettier --write, eslint

chore: :heavy_plus_sign: adiciona lib classnames
  package-lock.json
  package.json
Due: none

style: :lipstick: atualiza estilos globais
  src/index.scss
  src/styles/colors.scss
Due: prettier --write

chore(Eslint): 🔧 adiciona nova regra
  .eslintrc.json
Due: none

style(Payment): :lipstick: atualiza ordem das bandeiras de cartão
  src/components/Payment/Payment.tsx
Due: prettier --write, eslint

feat: :sparkles: adiciona componente Badge
  src/components/Badge/Badge.module.scss
  src/components/Badge/Badge.spec.tsx
  src/components/Badge/Badge.tsx
Due: prettier --write, eslint

feat: :sparkles: adiciona função para formatar número para moeda BRL
  src/utils/currency/currency.spec.ts
  src/utils/currency/currency.ts
Due: prettier --write, eslint

chore(Jest): :wrench: ajusta mapeamento de paths relativos
  jest.config.ts
  tsconfig.json
Due: prettier --write, eslint

feat: :sparkles: adiciona componente Offer
  src/assets/svg/question.svg
  src/components/Offer/Offer.module.scss
  src/components/Offer/Offer.spec.tsx
  src/components/Offer/Offer.tsx
Due: prettier --write, eslint

feat: :sparkles: adiciona adapter de contrato de Offer
  src/interfaces/Offer.interface.ts
  src/utils/adapters/Offer.adapter.spec.ts
  src/utils/adapters/Offer.adapter.ts
Due: prettier --write, eslint

feat(redux): :sparkles: adiciona store da aplicação
  jest.config.ts
  package-lock.json
  package.json
  src/main.tsx
  src/store/ducks/offer.ts
  src/store/ducks/subscription.ts
  src/store/initialState.mock.ts
  src/store/store.ts
  tsconfig.json
Due: prettier --write, eslint

style: :lipstick: atualiza estilo global
  src/index.scss
Due: prettier --write

feat: :sparkles: adiciona componente e rota de sucesso da assinatura
  src/Routes.tsx
  src/assets/svg/check.svg
  src/assets/svg/star.svg
  src/pages/SignatureDone/SignatureDone.module.scss
  src/pages/SignatureDone/SignatureDone.spec.tsx
  src/pages/SignatureDone/SignatureDone.tsx
Due: prettier --write, eslint

style: :lipstick: atualiza estilo do header
  src/components/Header/Header.module.scss
Due: prettier --write

test: :white_check_mark: adiciona teste no componente Offer
  src/components/Offer/Offer.spec.tsx
Due: prettier --write, eslint

style: :lipstick: ajuste de responsividade
  src/components/Offer/Offer.module.scss
  src/components/Offer/Offer.tsx
Due: prettier --write, eslint

feat: :sparkles: adiciona componente PlanCard
  src/components/PlanCard/PlanCard.module.scss
  src/components/PlanCard/PlanCard.spec.tsx
  src/components/PlanCard/PlanCard.tsx
Due: prettier --write, eslint

feat: :sparkles: adiciona validações no formulário e integra com estado da aplicação
  src/components/PaymentForm/PaymentForm.module.scss
  src/components/PaymentForm/PaymentForm.spec.tsx
  src/components/PaymentForm/PaymentForm.tsx
  src/interfaces/Subscription.interface.ts
Due: prettier --write, eslint

feat: :sparkles: finaliza componente Checkout
  src/pages/Checkout/Checkout.module.scss
  src/pages/Checkout/Checkout.spec.tsx
  src/pages/Checkout/Checkout.tsx
Due: prettier --write, eslint

docs: :memo: adiciona README.md
  README.md
Due: none

Path conditions:
  prettier --write: ((any of: *.{ts,tsx,js,jsx}) or (any of: *.html)) or (any of: *.{scss,css})
  eslint: (any of: *.{ts,tsx,js,jsx}) or (any of: *.html)
